.container{
    width: 450px;
    background: #e6e0e0;
    box-shadow: 20px 20px 60px #c4bebe, -20px -20px 60px #ffffff;
    border-radius: 10px;
    padding: 50px 10px;
    margin: 50px auto;
    text-align: center;

}
.btn-container{
    display: flex;
    justify-content: space-around;
}
.btn{
    flex-wrap: 1;
    font-size: 20px;
    font-weight: bolder;
    border:none;
    padding:7px 12px;
    margin: 10px;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #c4bebe, -20px -20px 60px #ffffff;
    
}
.btn:hover{
    background-color: rgb(170, 110, 110);
}